body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 152, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3498DB;
}
#u9029 {
  position:absolute;
  left:177px;
  top:458px;
  width:77px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3498DB;
}
#u9029_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 152, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3498DB;
}
#u9029.mouseOver {
  opacity:0.8;
}
#u9029_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 152, 219, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3498DB;
}
#u9029.mouseDown {
  opacity:1;
}
#u9030 {
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
#u9031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u9031 {
  position:absolute;
  left:45px;
  top:90px;
  width:233px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u9032 {
  position:absolute;
  left:10px;
  top:1px;
  width:193px;
  word-wrap:break-word;
}
#u9033 {
  position:absolute;
  left:68px;
  top:223px;
  width:211px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u9034 {
  position:absolute;
  left:16px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u9033_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:38px;
}
#u9035 {
  position:absolute;
  left:46px;
  top:185px;
  width:233px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u9036 {
  position:absolute;
  left:10px;
  top:1px;
  width:193px;
  word-wrap:break-word;
}
#u9037 {
  position:absolute;
  left:68px;
  top:252px;
  width:211px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u9038 {
  position:absolute;
  left:16px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u9037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9039 {
  position:absolute;
  left:68px;
  top:281px;
  width:211px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u9040 {
  position:absolute;
  left:16px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u9039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9041 {
  position:absolute;
  left:68px;
  top:312px;
  width:211px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u9042 {
  position:absolute;
  left:16px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u9041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u9043 {
  position:absolute;
  left:71px;
  top:341px;
  width:336px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u9044 {
  position:absolute;
  left:12px;
  top:10px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9045 {
  position:absolute;
  left:78px;
  top:344px;
  width:318px;
  height:43px;
}
#u9045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u9046 {
  position:absolute;
  left:402px;
  top:393px;
  width:1px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u9047 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:-1.5px -9.5px;
  -ms-transform-origin:-1.5px -9.5px;
  -moz-transform-origin:-1.5px -9.5px;
  -webkit-transform-origin:-1.5px -9.5px;
}
#u9048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:2px;
}
#u9048 {
  position:absolute;
  left:399px;
  top:391px;
  width:4px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u9049 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:0px -9.5px;
  -ms-transform-origin:0px -9.5px;
  -moz-transform-origin:0px -9.5px;
  -webkit-transform-origin:0px -9.5px;
}
#u9050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:32px;
}
#u9050 {
  position:absolute;
  left:59px;
  top:394px;
  width:442px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:14px;
}
#u9051 {
  position:absolute;
  left:10px;
  top:9px;
  width:402px;
  word-wrap:break-word;
}
#u9052 {
  position:absolute;
  left:59px;
  top:128px;
}
#u9052_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9052_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u9053 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:47px;
  color:#A1A1A1;
}
#u9054 {
  position:absolute;
  left:2px;
  top:16px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9052_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9052_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9055 {
  position:absolute;
  left:12px;
  top:10px;
  width:300px;
  height:22px;
}
#u9055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
}
#u9055_input:disabled {
  color:grayText;
}
#u9056 {
  position:absolute;
  left:40px;
  top:40px;
  width:230px;
  height:35px;
}
#u9056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3498DB;
  text-align:center;
}
#u9058 {
  position:absolute;
  left:200px;
  top:40px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3498DB;
  text-align:center;
}
#u9059 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u9060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u9060 {
  position:absolute;
  left:240px;
  top:40px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u9061 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
