body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1432px;
  height:1116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:243px;
  top:38px;
  width:1432px;
  height:1116px;
}
#u54 {
  position:absolute;
  left:2px;
  top:550px;
  width:1428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:5px;
  top:9px;
  width:230px;
  height:800px;
}
#u56 {
  position:absolute;
  left:2px;
  top:392px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:14px;
  top:93px;
  width:205px;
  height:265px;
}
#u57_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u59 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:150px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u58_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:20px;
  top:20px;
  width:133px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:111px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:40px;
  width:180px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:158px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:2px;
  width:153px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:20px;
  top:60px;
  width:154px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:132px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:2px;
  width:127px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:80px;
  width:150px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:128px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:2px;
  width:123px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:20px;
  top:100px;
  width:145px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u77 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:20px;
  top:120px;
  width:176px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:22px;
  top:0px;
  width:154px;
  height:20px;
}
#u80 {
  position:absolute;
  left:3px;
  top:2px;
  width:149px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:0px;
  top:140px;
  width:66px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u83 {
  position:absolute;
  left:3px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:160px;
  width:106px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u85 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u85_img.selected {
}
#u85.selected {
}
#u86 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u88 {
  position:absolute;
  left:3px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u84_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89 {
  position:absolute;
  left:20px;
  top:20px;
  width:83px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:22px;
  top:0px;
  width:61px;
  height:20px;
}
#u91 {
  position:absolute;
  left:3px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:20px;
  top:40px;
  width:131px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:22px;
  top:0px;
  width:109px;
  height:20px;
}
#u94 {
  position:absolute;
  left:3px;
  top:2px;
  width:104px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:20px;
  top:60px;
  width:130px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u97 {
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:20px;
  top:80px;
  width:118px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u100 {
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:14px;
  top:18px;
  width:200px;
  height:35px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u101_input:disabled {
  color:grayText;
}
#u102 {
  position:absolute;
  left:244px;
  top:39px;
  width:1427px;
  height:1111px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1427px;
  height:1111px;
}
#u103 {
  position:absolute;
  left:14px;
  top:93px;
  width:200px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:200px;
  top:86px;
  width:180px;
  height:320px;
}
#u104_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:326px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:325px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u106_img.mouseOver {
}
#u106.mouseOver {
}
#u106_img.selected {
}
#u106.selected {
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u108 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u108_img.selected {
}
#u108.selected {
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u110 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u110_img.mouseOver {
}
#u110.mouseOver {
}
#u110_img.selected {
}
#u110.selected {
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u112 {
  position:absolute;
  left:0px;
  top:120px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
}
#u112_img.selected {
}
#u112.selected {
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u114 {
  position:absolute;
  left:0px;
  top:160px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u114_img.selected {
}
#u114.selected {
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u116 {
  position:absolute;
  left:0px;
  top:200px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u116_img.selected {
}
#u116.selected {
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u118 {
  position:absolute;
  left:0px;
  top:240px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u118_img.selected {
}
#u118.selected {
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u120 {
  position:absolute;
  left:0px;
  top:280px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u120_img.mouseOver {
}
#u120.mouseOver {
}
#u120_img.selected {
}
#u120.selected {
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:180px;
  top:280px;
  width:180px;
  height:120px;
  visibility:hidden;
}
#u122_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:125px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u124_img.mouseOver {
}
#u124.mouseOver {
}
#u124_img.selected {
}
#u124.selected {
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u126 {
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u126_img.mouseOver {
}
#u126.mouseOver {
}
#u126_img.selected {
}
#u126.selected {
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u128 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#666666;
}
#u128_img.mouseOver {
}
#u128.mouseOver {
}
#u128_img.selected {
}
#u128.selected {
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
#u130 {
  position:absolute;
  left:14px;
  top:65px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
#u130_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
#u130.mouseOver {
}
#u130_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
#u130.selected {
}
#u131 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u132 {
  position:absolute;
  left:34px;
  top:65px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u133 {
  position:absolute;
  left:0px;
  top:1px;
  width:20px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:14px;
  top:85px;
  width:100px;
  height:70px;
}
#u134_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:76px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:75px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  color:#666666;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u138 {
  position:absolute;
  left:0px;
  top:35px;
  width:100px;
  height:35px;
  color:#666666;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
.u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
.u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
.u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
.u143 {
  position:absolute;
  left:162px;
  top:5px;
  width:20px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
  text-align:center;
}
.u144 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:245px;
  top:9px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(52, 152, 219, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:14px;
  top:85px;
  width:220px;
  height:32px;
}
#u146 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
